.btn {
    display:inline-block;
    font-family: inherit;
    padding: 1em 2em;
    font-size: 1rem;
    line-height: 1em;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;   
    cursor: pointer;  
    box-shadow: 0 3px 6px #0005;
    border-radius: 0.3em;
    text-decoration: none; 
    user-select: none;
    text-align: center;
}
.btn:hover {
    background-color: var(--secondary-color-dark);
    box-shadow: 0 3px 6px #0007; 
}
.btn.btn-circle {
    height: 3em;
    width: 3em;
    padding: 0;
    font-family: 'FontAwesome';
    line-height: 3em;
    border-radius: 50%;
}
