.type-email {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 2.5rem;
    font-size: 1.2rem;
    color: #fff9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.type-email label {
    display: none;
}
.type-email ::placeholder {
    color: #fff9;
    font-style: 'FontAwesome';
}
.type-email input {
    width: 95%;
    padding: 0.5em 0.1em;
    line-height: 1.3em;
    color: #000000;
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem solid #fff9;
}